.appContent {
  margin: 60px 0;
}

button{
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #0391ff;
  color: #fff;
  border-radius: .3rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 400;
  padding: .1rem 1rem 0;
  cursor: pointer;
  user-select: none;
  transition: all .3s cubic-bezier(.175,.885,.32,1.275);
  border: 0;
}