.actions{
    height: 5rem;
    padding: 0 3rem 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}